:root {
  --color-dark: #754040;
  --color-main: #584b4d;
  --color-main-alt: #5b484a;
  --color-light: #847173;
  --color-light-alt: #ab9c9e;
  --color-accent: #a72536;
  --color-period: #d0c8c9;
  --color-period-time: #f6f4f4;
  --color-white: #fff;

  --border: 1px solid #cfcfcf;
  --border-radius: 16px;
  --border-radius-small: 10px;
  --border-radius-large: 20px;

  --font-family: "Roboto", sans-serif;
  --second-family: "Akrobat", sans-serif;
  --third-family: "Inter", sans-serif;

  --container-width: 1200px;
  --container-padding-x: 10px;

  --input-height: 40px;

  --transition-duration: 0.3s;
}
